/* Estilo geral */
body {
    background-color: #000; /* Fundo preto */
    color: #fff; /* Texto branco para melhor contraste */
    font-family: Arial, sans-serif;
}
#text-muted {
    color: #FFD700;
}
/* Cabeçalhos */
h1, h2, h5 {
    color: #FFD700; /* Amarelo dourado */
    text-align: center;
}

/* Botões */
.btn-primary {
    background-color: #FFD700;
    border-color: #FFD700;
    color: #000; /* Texto preto para contraste */
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #FFC107;
    border-color: #FFC107;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-warning {
    background-color: #FFC107;
    border-color: #FFC107;
    color: #000;
    font-weight: bold;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}

/* Tabela */
.table {
    background-color: #222; /* Cinza escuro */
    color: #fff;
}
.texto-destaque {
    color: #FFD700 !important; /* Amarelo Dourado */
    font-weight: bold;
}

.table-hover tbody tr:hover {
    background-color: #444;
}

.table-dark {
    background-color: #FFD700;
    color: #000;
    font-weight: bold;
}

.table-dark th {
    background-color: #DAA520;
}

/* Modal */
.modal-content {
    background-color: #222;
    color: #fff;
    border: 1px solid #FFD700;
}

.modal-header {
    border-bottom: 1px solid #FFD700;
}

.modal-footer {
    border-top: 1px solid #FFD700;
}

/* Inputs */
.form-control {
    background-color: #333;
    color: #FFD700;
    border: 1px solid #FFD700;
}

.form-control::placeholder {
    color: #AAA;
}

/* Abas */
.nav-tabs .nav-link {
    color: #FFD700;
    background-color: #222;
    border: 1px solid #FFD700;
}

.nav-tabs .nav-link.active {
    background-color: #FFD700;
    color: #000;
}

/* Cartões */
.card {
    background-color: #333;
    color: #FFD700;
    border: 1px solid #FFD700;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h1, h2 {
        font-size: 1.5rem;
    }
}
